openapi: 3.2.0
info:
  title: Maven Machines Eld API
  version: '1.0'
  description: 'Operations tagged Eld across 2 of this provider''s published API definitions: maven-machines-eld-hos-openapi.json, maven-machines-rest-service-manual-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://integrations.mavenmachines.com/
tags:
- name: Eld
paths:
  /eld/hos/dutystatus/:
    post:
      summary: POST /hos/dutystatus
      description: ''
      operationId: post-hosdutystatus
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                externalUserId:
                  type: string
                  description: REQUIRED. Unique external identifier of driver whose duty status is being inserted
                  default: SJONES
                dutyStatusTimeStamp:
                  type: string
                  description: REQUIRED. Timestamp that the record took place. Must be within the previous 24 hours. Note timezone is required. ISO 8601 compliant.
                  default: '2021-10-04T16:59:44Z'
                  format: date
                dutyStatusType:
                  type: string
                  description: REQUIRED. The duty status type. Either “OFF” or “ON”.
                  default: 'ON'
                  enum:
                  - 'OFF'
                  - 'ON'
                dutyStatusComment:
                  type: string
                  description: Duty status comment. The comment is displayed whenever the On or Off Duty event is displayed, including data file transfer.
                  default: 'Timeclock punch #839423'
                externalVehicleId:
                  type: string
                  description: Unique external identifier for the vehicle associated to the duty status change.
                  default: D83492
                lat:
                  type: integer
                  description: Latitude where the duty status took place.
                  default: 43.25356
                  format: int64
                lng:
                  type: integer
                  description: Longitude where the duty status took place.
                  default: -70.23483
                  format: int64
                terminalId:
                  type: string
                  description: Terminal Id where the duty status change took place. Used for providing geolocation.
                  default: PGH
                driverLocation:
                  type: string
                  description: Open text field describing the location of the duty status change if a precise geolocation is not available.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      security: []
      tags:
      - Eld
    servers:
    - url: ''
  /eld/hos/logs/summary:
    get:
      summary: GET /hos/logs/summary
      description: Provide summarized ELD information for all active drivers in a given fleet
      operationId: get-hoslogssummary
      parameters:
      - name: groupCode
        in: query
        schema:
          type: string
      - name: offset
        in: query
        description: (Deprecated) Pagination result offset
        schema:
          type: string
          default: '0'
      - name: cursor
        in: query
        description: Pagination value taken from pagination.nextCursor in the result.
        schema:
          type: string
      - name: from
        in: query
        description: If not specified, by default API returns data for 8 days window
        schema:
          type: string
          format: date-time
          default: '2024-04-20'
      - name: to
        in: query
        description: If not specified, by default API returns data for 8 days window
        schema:
          type: string
          format: date-time
          default: '2024-04-27'
      - name: limit
        in: query
        description: By default API returns 1000 rows.  Max 2000.
        schema:
          type: integer
          format: int32
          default: 1000
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"logs\": [\n    {\n      \"externalUserId\": \"HAMLIR\",\n      \"userId\": 35689,\n      \"date\": \"2020-10-25\",\n      \"powerUnitNumbers\": [\"TRUCK1234\",\"TRUCK5678\"],\n      \"statusDurations\": {\n        \"ON_DUTY_NOT_DRIVING\": 1,\n        \"DRIVING\": 1,\n        \"SLEEPER_BERTH\": 1,\n        \"OFF_DUTY\": 1\n      },\n      \"distancePerDay\": 1\n    }\n  ],\n  \"units\": {\n    \"volume\": \"cubicfeet\",\n    \"weight\": \"pounds\",\n    \"distance\": \"miles\"\n  },\n  \"pagination\": {\n    \"nextCursor\": \"MjAyNC0wNC0wMl8zNjA1NQ==\",\n    \"hasNextPage\": false,\n    \"nextPageOffset\": null,\n    \"total\": null\n  }\n}"
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      type: object
                      properties:
                        externalUserId:
                          type: string
                          example: HAMLIR
                        userId:
                          type: integer
                          example: 35689
                          default: 0
                        date:
                          type: string
                          example: '2020-10-25'
                        powerUnitNumbers:
                          type: array
                          items:
                            type: string
                            example: TRUCK1234
                        statusDurations:
                          type: object
                          properties:
                            ON_DUTY_NOT_DRIVING:
                              type: integer
                              example: 1
                              default: 0
                            DRIVING:
                              type: integer
                              example: 1
                              default: 0
                            SLEEPER_BERTH:
                              type: integer
                              example: 1
                              default: 0
                            OFF_DUTY:
                              type: integer
                              example: 1
                              default: 0
                        distancePerDay:
                          type: integer
                          example: 1
                          default: 0
                  units:
                    type: object
                    properties:
                      volume:
                        type: string
                        example: cubicfeet
                      weight:
                        type: string
                        example: pounds
                      distance:
                        type: string
                        example: miles
                  pagination:
                    type: object
                    properties:
                      nextCursor:
                        type: string
                        example: MjAyNC0wNC0wMl8zNjA1NQ==
                      hasNextPage:
                        type: boolean
                        example: false
                        default: true
                      nextPageOffset: {}
                      total: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '404':
          description: '404'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '500':
          description: '500'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      x-readme:
        code-samples:
        - language: text
          code: "{\n  \"logs\": [\n    {\n      \"externalUserId\": \"HAMLIR\",\n      \"userId\": 35689,\n      \"date\": \"2020-10-25\",\n      \"statusDurations\": {\n        \"ON_DUTY_NOT_DRIVING\": 1,\n        \"DRIVING\": 1,\n        \"SLEEPER_BERTH\": 1,\n        \"OFF_DUTY\": 1\n      },\n      \"distancePerDay\": 1\n    }\n  ],\n  \"units\": {\n    \"volume\": \"cubicfeet\",\n    \"weight\": \"pounds\",\n    \"distance\": \"miles\"\n  },\n  \"pagination\": {\n    \"total\": 15,\n    \"hasNextPage\": false,\n    \"nextPageOffset\": null\n  }\n}"
        samples-languages:
        - text
      tags:
      - Eld
      security:
      - sec0: []
    servers:
    - url: https://integrations.mavenmachines.com/
  /eld/hos/timers/snapshot:
    get:
      summary: GET /hos/timers/snapshot
      description: ''
      operationId: get-hostimerssnapshot
      parameters:
      - name: groupCode
        in: query
        schema:
          type: string
      - name: offet
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"snapshotTimestamp\": \"2020-05-03T00:00:00Z\",\n  \"users\": [\n    {\n      \"externalUserId\": \"HAMLIR\",\n      \"userId\": \"1234\",\n      \"powerUnitNumber\": \"TRUCK1234\",\n      \"currentStatus\": {\n        \"code\": \"DRIVING\",\n        \"timestamp\": \"2020-04-03T22:55:00Z\"\n      },\n      \"cycle\": {\n        \"expectedTimeBack\": 3658375,\n        \"startTimestamp\": \"2020-04-03T22:55:00Z\"\n      },\n      \"timers\": {\n        \"drive\": 3658375,\n        \"break\": 3658375,\n        \"cycle\": 3658375,\n        \"shift\": 3658375\n      }\n    }\n  ],\n  \"pagination\": {\n    \"total\": 15,\n    \"hasNextPage\": false,\n    \"nextPageOffset\": null\n  }\n}"
              schema:
                type: object
                properties:
                  snapshotTimestamp:
                    type: string
                    example: '2020-05-03T00:00:00Z'
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        externalUserId:
                          type: string
                          example: HAMLIR
                        userId:
                          type: string
                          example: '1234'
                        powerUnitNumber:
                          type: string
                          example: TRUCK1234
                        currentStatus:
                          type: object
                          properties:
                            code:
                              type: string
                              example: DRIVING
                            timestamp:
                              type: string
                              example: '2020-04-03T22:55:00Z'
                        cycle:
                          type: object
                          properties:
                            expectedTimeBack:
                              type: integer
                              example: 3658375
                              default: 0
                            startTimestamp:
                              type: string
                              example: '2020-04-03T22:55:00Z'
                        timers:
                          type: object
                          properties:
                            drive:
                              type: integer
                              example: 3658375
                              default: 0
                            break:
                              type: integer
                              example: 3658375
                              default: 0
                            cycle:
                              type: integer
                              example: 3658375
                              default: 0
                            shift:
                              type: integer
                              example: 3658375
                              default: 0
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 15
                        default: 0
                      hasNextPage:
                        type: boolean
                        example: false
                        default: true
                      nextPageOffset: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '404':
          description: '404'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '500':
          description: '500'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      tags:
      - Eld
      security:
      - sec0: []
    servers:
    - url: https://integrations.mavenmachines.com/
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: apiKey
x-refined-from:
- maven-machines-eld-hos-openapi.json
- maven-machines-rest-service-manual-openapi.json
