openapi: 3.2.0
info:
  title: planning-and-dispatch Manifest Number API
  version: '1.0'
servers:
- url: https://integrations.mavenmachines.com/companies/{companyKey}/
  variables:
    companyKey:
      default: companyKey
security:
- sec0: []
tags:
- name: ManifestNumber
paths:
  /manifestNumber:
    post:
      summary: POST /manifestNumber
      description: Sets a manifest number for a Maven-generated planning manifest
      operationId: post-manifestnumber
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - routeUniqueId
              - manifestNumber
              properties:
                routeUniqueId:
                  type: string
                  description: Maven-generated identifier for this manifest
                manifestNumber:
                  type: string
                  description: Manifest Number to be set for this manifest
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"type\": \"BAD_REQUEST\",\n\t\"message\": \"text description of error\"\n}"
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: BAD_REQUEST
                  message:
                    type: string
                    example: text description of error
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"type\": \"SERVER_ERROR\",\n\t\"message\": \"A server error has occurred\"\n}"
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: SERVER_ERROR
                  message:
                    type: string
                    example: A server error has occurred
      deprecated: false
      tags:
      - ManifestNumber
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: apiKey
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
