{
  "openapi": "3.1.0",
  "info": {
    "title": "rest-service-manual",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://integrations.mavenmachines.com/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "apiKey"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/manifests/{manifestNumber}": {
      "patch": {
        "summary": "PATCH /manifests/{manifestNumber}",
        "description": "Updates a delivery manifest. Only provided key-value pairs provided are updated.",
        "operationId": "patch-manifestsmanifestnumber",
        "parameters": [
          {
            "name": "manifestNumber",
            "in": "path",
            "description": "Manifest number of the manifest to be updated",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "trailerNumber": {
                    "type": "string",
                    "description": "The trailer number for the manifest."
                  },
                  "vehicleNumber": {
                    "type": "string",
                    "description": "The vehicle number for the manifest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/return-events": {
      "get": {
        "summary": "GET /return-events",
        "description": "Retrieve return events from the Maven system",
        "operationId": "get-return-events",
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "ISO8601 datetime of the first data being polled (inclusive).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "ISO8601 datetime of uploaded timestamp of the last data (inclusive).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Array of Ids of events to be returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "apiKey",
            "in": "header",
            "description": "Authorization key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"events\": [{\n  \t\"id\": \"11cbf1da-0760-4e9a-8db6-2a5810683471\",\n    \"eventType\": \"departTerminal\",\n    \"timestamp\": \"2023-04-09T21:50:42.123Z\",\n    \"data\": {}\n  }],\n  \"pagination\": {\n    \"nextPageStartTime\": \"2023-04-09T21:55::42.000Z\",\n    \"hasNextPage\": true\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "11cbf1da-0760-4e9a-8db6-2a5810683471"
                          },
                          "eventType": {
                            "type": "string",
                            "example": "departTerminal"
                          },
                          "timestamp": {
                            "type": "string",
                            "example": "2023-04-09T21:50:42.123Z"
                          },
                          "data": {
                            "type": "object",
                            "properties": {}
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "nextPageStartTime": {
                          "type": "string",
                          "example": "2023-04-09T21:55::42.000Z"
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/eld/hos/logs/summary": {
      "get": {
        "summary": "GET /hos/logs/summary",
        "description": "Provide summarized ELD information for all active drivers in a given fleet",
        "operationId": "get-hoslogssummary",
        "parameters": [
          {
            "name": "groupCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Deprecated) Pagination result offset",
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination value taken from pagination.nextCursor in the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "If not specified, by default API returns data for 8 days window",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2024-04-20"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "If not specified, by default API returns data for 8 days window",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2024-04-27"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "By default API returns 1000 rows.  Max 2000.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"logs\": [\n    {\n      \"externalUserId\": \"HAMLIR\",\n      \"userId\": 35689,\n      \"date\": \"2020-10-25\",\n      \"powerUnitNumbers\": [\"TRUCK1234\",\"TRUCK5678\"],\n      \"statusDurations\": {\n        \"ON_DUTY_NOT_DRIVING\": 1,\n        \"DRIVING\": 1,\n        \"SLEEPER_BERTH\": 1,\n        \"OFF_DUTY\": 1\n      },\n      \"distancePerDay\": 1\n    }\n  ],\n  \"units\": {\n    \"volume\": \"cubicfeet\",\n    \"weight\": \"pounds\",\n    \"distance\": \"miles\"\n  },\n  \"pagination\": {\n    \"nextCursor\": \"MjAyNC0wNC0wMl8zNjA1NQ==\",\n    \"hasNextPage\": false,\n    \"nextPageOffset\": null,\n    \"total\": null\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "externalUserId": {
                            "type": "string",
                            "example": "HAMLIR"
                          },
                          "userId": {
                            "type": "integer",
                            "example": 35689,
                            "default": 0
                          },
                          "date": {
                            "type": "string",
                            "example": "2020-10-25"
                          },
                          "powerUnitNumbers": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "TRUCK1234"
                            }
                          },
                          "statusDurations": {
                            "type": "object",
                            "properties": {
                              "ON_DUTY_NOT_DRIVING": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "DRIVING": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "SLEEPER_BERTH": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "OFF_DUTY": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              }
                            }
                          },
                          "distancePerDay": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          }
                        }
                      }
                    },
                    "units": {
                      "type": "object",
                      "properties": {
                        "volume": {
                          "type": "string",
                          "example": "cubicfeet"
                        },
                        "weight": {
                          "type": "string",
                          "example": "pounds"
                        },
                        "distance": {
                          "type": "string",
                          "example": "miles"
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "nextCursor": {
                          "type": "string",
                          "example": "MjAyNC0wNC0wMl8zNjA1NQ=="
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "nextPageOffset": {},
                        "total": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "text",
              "code": "{\n  \"logs\": [\n    {\n      \"externalUserId\": \"HAMLIR\",\n      \"userId\": 35689,\n      \"date\": \"2020-10-25\",\n      \"statusDurations\": {\n        \"ON_DUTY_NOT_DRIVING\": 1,\n        \"DRIVING\": 1,\n        \"SLEEPER_BERTH\": 1,\n        \"OFF_DUTY\": 1\n      },\n      \"distancePerDay\": 1\n    }\n  ],\n  \"units\": {\n    \"volume\": \"cubicfeet\",\n    \"weight\": \"pounds\",\n    \"distance\": \"miles\"\n  },\n  \"pagination\": {\n    \"total\": 15,\n    \"hasNextPage\": false,\n    \"nextPageOffset\": null\n  }\n}"
            }
          ],
          "samples-languages": [
            "text"
          ]
        }
      }
    },
    "/eld/hos/timers/snapshot": {
      "get": {
        "summary": "GET /hos/timers/snapshot",
        "description": "",
        "operationId": "get-hostimerssnapshot",
        "parameters": [
          {
            "name": "groupCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offet",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"snapshotTimestamp\": \"2020-05-03T00:00:00Z\",\n  \"users\": [\n    {\n      \"externalUserId\": \"HAMLIR\",\n      \"userId\": \"1234\",\n      \"powerUnitNumber\": \"TRUCK1234\",\n      \"currentStatus\": {\n        \"code\": \"DRIVING\",\n        \"timestamp\": \"2020-04-03T22:55:00Z\"\n      },\n      \"cycle\": {\n        \"expectedTimeBack\": 3658375,\n        \"startTimestamp\": \"2020-04-03T22:55:00Z\"\n      },\n      \"timers\": {\n        \"drive\": 3658375,\n        \"break\": 3658375,\n        \"cycle\": 3658375,\n        \"shift\": 3658375\n      }\n    }\n  ],\n  \"pagination\": {\n    \"total\": 15,\n    \"hasNextPage\": false,\n    \"nextPageOffset\": null\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshotTimestamp": {
                      "type": "string",
                      "example": "2020-05-03T00:00:00Z"
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "externalUserId": {
                            "type": "string",
                            "example": "HAMLIR"
                          },
                          "userId": {
                            "type": "string",
                            "example": "1234"
                          },
                          "powerUnitNumber": {
                            "type": "string",
                            "example": "TRUCK1234"
                          },
                          "currentStatus": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "example": "DRIVING"
                              },
                              "timestamp": {
                                "type": "string",
                                "example": "2020-04-03T22:55:00Z"
                              }
                            }
                          },
                          "cycle": {
                            "type": "object",
                            "properties": {
                              "expectedTimeBack": {
                                "type": "integer",
                                "example": 3658375,
                                "default": 0
                              },
                              "startTimestamp": {
                                "type": "string",
                                "example": "2020-04-03T22:55:00Z"
                              }
                            }
                          },
                          "timers": {
                            "type": "object",
                            "properties": {
                              "drive": {
                                "type": "integer",
                                "example": 3658375,
                                "default": 0
                              },
                              "break": {
                                "type": "integer",
                                "example": 3658375,
                                "default": 0
                              },
                              "cycle": {
                                "type": "integer",
                                "example": 3658375,
                                "default": 0
                              },
                              "shift": {
                                "type": "integer",
                                "example": 3658375,
                                "default": 0
                              }
                            }
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 15,
                          "default": 0
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "nextPageOffset": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/locations/vehicles": {
      "get": {
        "summary": "GET /locations/vehicles",
        "description": "The vehicle locations API returns a history of all recorded telematics pings for any vehicle that is installed with a Maven Vehicle Data Adapter (VDA).",
        "operationId": "get-locationsvehicles",
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "ISO8601 string of the first data being polled (inclusive)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "ISO8601 string of the last data being polled (inclusive)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "groupCode",
            "in": "query",
            "description": "If provided the response will include only locations for vehicles that belong to that group",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extendedParams",
            "in": "query",
            "description": "If true, the response will include additional attributes: rpm, heading, city, state, postalCode, speed, fuelLevel",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "apiKey",
            "in": "header",
            "description": "API Key required to authenticate request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": 123,\n      \"vehicle\": \"Truck 2\",\n      \"eventTime\": \"2020-04-09T21:50:42Z\",\n      \"uploadedTime\": \"2020-04-09T21:55:42Z\",\n      \"latitude\": 95.67892,\n      \"longitude\": 25.23456,\n      \"odometer\": 123456.7,\n      \"driver\": {\n        \"firstName\": \"John\",\n        \"lastName\": \"Smith\",\n        \"employeeId\": \"JS123\"\n      },\n      \"extendedParams\": {\n        \"rpm\": 56.75,\n        \"heading\": 120,\n        \"speed\": 36,\n        \"fuelLevel\": 0.92,\n        \"nearestAddress\": \"3930 16th Ave SW, Cedar Rapids, IA 52404, USA\",\n        \"city\": \"Pittsburgh\",\n        \"state\": \"PA\",\n        \"country\": \"US\",\n        \"postalCode\": \"Pittsburgh\",\n        \"eldLocation\": {\n          \"distance\": 2.8,\n          \"country\": \"USA\",\n          \"direction\": \"SW\",\n          \"city\": \"Cedar Rapids\",\n          \"jurisdiction\": \"IA\",\n          \"units\": \"mi\",\n          \"formattedLocation\": \"2.8 mi SW IA Cedar Rapids, USA\"\n        },\n        \"smallCity\": {\n          \"distance\": 2.8,\n          \"country\": \"USA\",\n          \"direction\": \"SW\",\n          \"city\": \"Cedar Rapids\",\n          \"jurisdiction\": \"IA\",\n          \"units\": \"mi\",\n          \"formattedLocation\": \"2.8 mi SW IA Cedar Rapids, USA\",\n          \"postalCode\": \"15213\"\n        },\n        \"largeCity\": {\n          \"distance\": 2.8,\n          \"country\": \"USA\",\n          \"direction\": \"SW\",\n          \"city\": \"Cedar Rapids\",\n          \"jurisdiction\": \"IA\",\n          \"units\": \"mi\",\n          \"formattedLocation\": \"2.8 mi SW IA Cedar Rapids, USA\",\n          \"postalCode\": \"15213\"\n        }\n      }\n    }\n  ],\n  \"units\": {\n    \"odometer\": \"miles\",\n    \"totalFuelConsumed\": \"gallons\",\n    \"speed\": \"mph\",\n    \"fuelLevel\": \"percentage\"\n  },\n  \"pagination\": {\n    \"nextPageStartTime\": \"2020-04-09T21:50::42.000000Z\",\n    \"hasNextPage\": true\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 123,
                            "default": 0
                          },
                          "vehicle": {
                            "type": "string",
                            "example": "Truck 2"
                          },
                          "eventTime": {
                            "type": "string",
                            "example": "2020-04-09T21:50:42Z"
                          },
                          "uploadedTime": {
                            "type": "string",
                            "example": "2020-04-09T21:55:42Z"
                          },
                          "latitude": {
                            "type": "number",
                            "example": 95.67892,
                            "default": 0
                          },
                          "longitude": {
                            "type": "number",
                            "example": 25.23456,
                            "default": 0
                          },
                          "odometer": {
                            "type": "number",
                            "example": 123456.7,
                            "default": 0
                          },
                          "driver": {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string",
                                "example": "John"
                              },
                              "lastName": {
                                "type": "string",
                                "example": "Smith"
                              },
                              "employeeId": {
                                "type": "string",
                                "example": "JS123"
                              }
                            }
                          },
                          "extendedParams": {
                            "type": "object",
                            "properties": {
                              "rpm": {
                                "type": "number",
                                "example": 56.75,
                                "default": 0
                              },
                              "heading": {
                                "type": "integer",
                                "example": 120,
                                "default": 0
                              },
                              "speed": {
                                "type": "integer",
                                "example": 36,
                                "default": 0
                              },
                              "fuelLevel": {
                                "type": "number",
                                "example": 0.92,
                                "default": 0
                              },
                              "nearestAddress": {
                                "type": "string",
                                "example": "3930 16th Ave SW, Cedar Rapids, IA 52404, USA"
                              },
                              "city": {
                                "type": "string",
                                "example": "Pittsburgh"
                              },
                              "state": {
                                "type": "string",
                                "example": "PA"
                              },
                              "country": {
                                "type": "string",
                                "example": "US"
                              },
                              "postalCode": {
                                "type": "string",
                                "example": "Pittsburgh"
                              },
                              "eldLocation": {
                                "type": "object",
                                "properties": {
                                  "distance": {
                                    "type": "number",
                                    "example": 2.8,
                                    "default": 0
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "USA"
                                  },
                                  "direction": {
                                    "type": "string",
                                    "example": "SW"
                                  },
                                  "city": {
                                    "type": "string",
                                    "example": "Cedar Rapids"
                                  },
                                  "jurisdiction": {
                                    "type": "string",
                                    "example": "IA"
                                  },
                                  "units": {
                                    "type": "string",
                                    "example": "mi"
                                  },
                                  "formattedLocation": {
                                    "type": "string",
                                    "example": "2.8 mi SW IA Cedar Rapids, USA"
                                  }
                                }
                              },
                              "smallCity": {
                                "type": "object",
                                "properties": {
                                  "distance": {
                                    "type": "number",
                                    "example": 2.8,
                                    "default": 0
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "USA"
                                  },
                                  "direction": {
                                    "type": "string",
                                    "example": "SW"
                                  },
                                  "city": {
                                    "type": "string",
                                    "example": "Cedar Rapids"
                                  },
                                  "jurisdiction": {
                                    "type": "string",
                                    "example": "IA"
                                  },
                                  "units": {
                                    "type": "string",
                                    "example": "mi"
                                  },
                                  "formattedLocation": {
                                    "type": "string",
                                    "example": "2.8 mi SW IA Cedar Rapids, USA"
                                  },
                                  "postalCode": {
                                    "type": "string",
                                    "example": "15213"
                                  }
                                }
                              },
                              "largeCity": {
                                "type": "object",
                                "properties": {
                                  "distance": {
                                    "type": "number",
                                    "example": 2.8,
                                    "default": 0
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "USA"
                                  },
                                  "direction": {
                                    "type": "string",
                                    "example": "SW"
                                  },
                                  "city": {
                                    "type": "string",
                                    "example": "Cedar Rapids"
                                  },
                                  "jurisdiction": {
                                    "type": "string",
                                    "example": "IA"
                                  },
                                  "units": {
                                    "type": "string",
                                    "example": "mi"
                                  },
                                  "formattedLocation": {
                                    "type": "string",
                                    "example": "2.8 mi SW IA Cedar Rapids, USA"
                                  },
                                  "postalCode": {
                                    "type": "string",
                                    "example": "15213"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "units": {
                      "type": "object",
                      "properties": {
                        "odometer": {
                          "type": "string",
                          "example": "miles"
                        },
                        "totalFuelConsumed": {
                          "type": "string",
                          "example": "gallons"
                        },
                        "speed": {
                          "type": "string",
                          "example": "mph"
                        },
                        "fuelLevel": {
                          "type": "string",
                          "example": "percentage"
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "nextPageStartTime": {
                          "type": "string",
                          "example": "2020-04-09T21:50::42.000000Z"
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/locations/vehicles/snapshot": {
      "get": {
        "summary": "GET /locations/vehicles/snapshot",
        "description": "The vehicle locations snapshot API returns a list of the latest ping/location for all vehicles in your fleet that are installed with a Maven Vehicle Data Adapter (VDA).",
        "operationId": "get-locationsvehiclessnapshot",
        "parameters": [
          {
            "name": "groupCode",
            "in": "query",
            "description": "If provided the response will include only locations for vehicles that belong to that group",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to indicate from which vehicle the locations should be read next time",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "extendedParams",
            "in": "query",
            "description": "If true, the response will include additional attributes: rpm, heading, city, state, postalCode, speed, fuelLevel",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "apiKey",
            "in": "header",
            "description": "API Key required to authenticate request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": 123,\n      \"vehicle\": \"Truck 2\",\n      \"eventTime\": \"2020-04-09T21:50:42Z\",\n      \"uploadedTime\": \"2020-04-09T21:55:42Z\",\n      \"latitude\": 95.67892,\n      \"longitude\": 25.23456,\n      \"odometer\": 123456.7,\n      \"driver\": {\n        \"firstName\": \"John\",\n        \"lastName\": \"Smith\",\n        \"employeeId\": \"JS123\"\n      },\n      \"extendedParams\": {\n        \"rpm\": 56.75,\n        \"heading\": 120,\n        \"speed\": 36,\n        \"fuelLevel\": 0.92,\n        \"nearestAddress\": \"3930 16th Ave SW, Cedar Rapids, IA 52404, USA\",\n        \"city\": \"Pittsburgh\",\n        \"state\": \"PA\",\n        \"country\": \"US\",\n        \"postalCode\": \"Pittsburgh\",\n        \"eldLocation\": {\n          \"distance\": 2.8,\n          \"country\": \"USA\",\n          \"direction\": \"SW\",\n          \"city\": \"Cedar Rapids\",\n          \"jurisdiction\": \"IA\",\n          \"units\": \"mi\",\n          \"formattedLocation\": \"2.8 mi SW IA Cedar Rapids, USA\"\n        },\n        \"smallCity\": {\n          \"distance\": 2.8,\n          \"country\": \"USA\",\n          \"direction\": \"SW\",\n          \"city\": \"Cedar Rapids\",\n          \"jurisdiction\": \"IA\",\n          \"units\": \"mi\",\n          \"formattedLocation\": \"2.8 mi SW IA Cedar Rapids, USA\",\n          \"postalCode\": \"15213\"\n        },\n        \"largeCity\": {\n          \"distance\": 2.8,\n          \"country\": \"USA\",\n          \"direction\": \"SW\",\n          \"city\": \"Cedar Rapids\",\n          \"jurisdiction\": \"IA\",\n          \"units\": \"mi\",\n          \"formattedLocation\": \"2.8 mi SW IA Cedar Rapids, USA\",\n          \"postalCode\": \"15213\"\n        }\n      }\n    }\n  ],\n  \"units\": {\n    \"odometer\": \"miles\",\n    \"totalFuelConsumed\": \"gallons\",\n    \"speed\": \"mph\",\n    \"fuelLevel\": \"percentage\"\n  },\n  \"pagination\": {\n    \"offset\": 123,\n    \"hasNextPage\": true\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 123,
                            "default": 0
                          },
                          "vehicle": {
                            "type": "string",
                            "example": "Truck 2"
                          },
                          "eventTime": {
                            "type": "string",
                            "example": "2020-04-09T21:50:42Z"
                          },
                          "uploadedTime": {
                            "type": "string",
                            "example": "2020-04-09T21:55:42Z"
                          },
                          "latitude": {
                            "type": "number",
                            "example": 95.67892,
                            "default": 0
                          },
                          "longitude": {
                            "type": "number",
                            "example": 25.23456,
                            "default": 0
                          },
                          "odometer": {
                            "type": "number",
                            "example": 123456.7,
                            "default": 0
                          },
                          "driver": {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string",
                                "example": "John"
                              },
                              "lastName": {
                                "type": "string",
                                "example": "Smith"
                              },
                              "employeeId": {
                                "type": "string",
                                "example": "JS123"
                              }
                            }
                          },
                          "extendedParams": {
                            "type": "object",
                            "properties": {
                              "rpm": {
                                "type": "number",
                                "example": 56.75,
                                "default": 0
                              },
                              "heading": {
                                "type": "integer",
                                "example": 120,
                                "default": 0
                              },
                              "speed": {
                                "type": "integer",
                                "example": 36,
                                "default": 0
                              },
                              "fuelLevel": {
                                "type": "number",
                                "example": 0.92,
                                "default": 0
                              },
                              "nearestAddress": {
                                "type": "string",
                                "example": "3930 16th Ave SW, Cedar Rapids, IA 52404, USA"
                              },
                              "city": {
                                "type": "string",
                                "example": "Pittsburgh"
                              },
                              "state": {
                                "type": "string",
                                "example": "PA"
                              },
                              "country": {
                                "type": "string",
                                "example": "US"
                              },
                              "postalCode": {
                                "type": "string",
                                "example": "Pittsburgh"
                              },
                              "eldLocation": {
                                "type": "object",
                                "properties": {
                                  "distance": {
                                    "type": "number",
                                    "example": 2.8,
                                    "default": 0
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "USA"
                                  },
                                  "direction": {
                                    "type": "string",
                                    "example": "SW"
                                  },
                                  "city": {
                                    "type": "string",
                                    "example": "Cedar Rapids"
                                  },
                                  "jurisdiction": {
                                    "type": "string",
                                    "example": "IA"
                                  },
                                  "units": {
                                    "type": "string",
                                    "example": "mi"
                                  },
                                  "formattedLocation": {
                                    "type": "string",
                                    "example": "2.8 mi SW IA Cedar Rapids, USA"
                                  }
                                }
                              },
                              "smallCity": {
                                "type": "object",
                                "properties": {
                                  "distance": {
                                    "type": "number",
                                    "example": 2.8,
                                    "default": 0
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "USA"
                                  },
                                  "direction": {
                                    "type": "string",
                                    "example": "SW"
                                  },
                                  "city": {
                                    "type": "string",
                                    "example": "Cedar Rapids"
                                  },
                                  "jurisdiction": {
                                    "type": "string",
                                    "example": "IA"
                                  },
                                  "units": {
                                    "type": "string",
                                    "example": "mi"
                                  },
                                  "formattedLocation": {
                                    "type": "string",
                                    "example": "2.8 mi SW IA Cedar Rapids, USA"
                                  },
                                  "postalCode": {
                                    "type": "string",
                                    "example": "15213"
                                  }
                                }
                              },
                              "largeCity": {
                                "type": "object",
                                "properties": {
                                  "distance": {
                                    "type": "number",
                                    "example": 2.8,
                                    "default": 0
                                  },
                                  "country": {
                                    "type": "string",
                                    "example": "USA"
                                  },
                                  "direction": {
                                    "type": "string",
                                    "example": "SW"
                                  },
                                  "city": {
                                    "type": "string",
                                    "example": "Cedar Rapids"
                                  },
                                  "jurisdiction": {
                                    "type": "string",
                                    "example": "IA"
                                  },
                                  "units": {
                                    "type": "string",
                                    "example": "mi"
                                  },
                                  "formattedLocation": {
                                    "type": "string",
                                    "example": "2.8 mi SW IA Cedar Rapids, USA"
                                  },
                                  "postalCode": {
                                    "type": "string",
                                    "example": "15213"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "units": {
                      "type": "object",
                      "properties": {
                        "odometer": {
                          "type": "string",
                          "example": "miles"
                        },
                        "totalFuelConsumed": {
                          "type": "string",
                          "example": "gallons"
                        },
                        "speed": {
                          "type": "string",
                          "example": "mph"
                        },
                        "fuelLevel": {
                          "type": "string",
                          "example": "percentage"
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "offset": {
                          "type": "integer",
                          "example": 123,
                          "default": 0
                        },
                        "hasNextPage": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}