openapi: 3.2.0
info:
  title: planning-and-dispatch Pickup Requests API
  version: '1.0'
servers:
- url: https://integrations.mavenmachines.com/companies/{companyKey}/
  variables:
    companyKey:
      default: companyKey
security:
- sec0: []
tags:
- name: PickupRequests
paths:
  /pickupRequests/cancel:
    post:
      summary: POST /pickupRequests/cancel
      description: Cancels a pickup request in the Maven system
      operationId: post-pickuprequestscancel
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - refNumber
              - terminalCode
              properties:
                refNumber:
                  type: string
                  description: TMS-assigned shipment reference for pickup
                terminalCode:
                  type: string
                  description: Terminal code associated with this pickup request
                pickupSequenceNumber:
                  type: integer
                  description: For fleets that associate more than one shipment to a pickup request, the pickupSequenceNumber can be used to differentiate shipments. The combination of refNumber and pickupSequenceNumber must be unique.
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            text/plain:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"type\": \"BAD_REQUEST\",\n\t\"message\": \"text description of error\"\n}"
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: BAD_REQUEST
                  message:
                    type: string
                    example: text description of error
        '500':
          description: '500'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"type\": \"SERVER_ERROR\",\n  \"message\": \"A server error has occurred\"\n}"
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: SERVER_ERROR
                  message:
                    type: string
                    example: A server error has occurred
      deprecated: false
      tags:
      - PickupRequests
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: apiKey
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
