{
  "openapi": "3.0.0",
  "info": {
    "title": "Workflow APIs",
    "description": "Documentation for Workflow APIs",
    "version": "1.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://integrations.mavenmachines.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "apiKey"
      }
    },
    "schemas": {
      "FormDefinitionsComponents": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Key of form definitions component",
            "example": "Pro Number"
          },
          "hint": {
            "type": "string",
            "description": "Hint for form definitions component",
            "example": "Enter your Pro Number"
          },
          "type": {
            "type": "string",
            "description": "Type of form definitions component",
            "enum": [
              "divider",
              "textDisplay",
              "ratingInput",
              "dateInput",
              "dateTimeInput",
              "imageInput",
              "radioButtonsInput",
              "dropDownInput",
              "checkBoxInput",
              "doubleInput",
              "digitInput",
              "integerInput",
              "paragraphInput",
              "textInput"
            ]
          },
          "visible": {
            "type": "boolean",
            "description": "Flag of component visibility",
            "example": true
          },
          "required": {
            "type": "boolean",
            "description": "Flag that indicates is this component required or optional",
            "example": true
          },
          "maxLength": {
            "type": "number",
            "description": "Max length of chars",
            "example": 15
          },
          "minLength": {
            "type": "number",
            "description": "Min length of chars",
            "example": 5
          },
          "minValue": {
            "type": "number",
            "description": "Min value",
            "example": -90
          },
          "maxValue": {
            "type": "number",
            "description": "Max value",
            "example": 90
          },
          "totalOptions": {
            "type": "number",
            "description": "Total options",
            "example": 5
          },
          "category": {
            "type": "string",
            "description": "Category",
            "example": "payment-receipt"
          },
          "displayTitle": {
            "type": "string",
            "description": "Display Title of the component",
            "example": "Pro Number"
          },
          "autocomplete": {
            "type": "string",
            "description": "Autocomplete",
            "example": "latitude"
          },
          "options": {
            "description": "options",
            "example": [
              "Yes",
              "No"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "key",
          "type",
          "visible",
          "required",
          "displayTitle"
        ]
      },
      "FormDefinitions": {
        "type": "object",
        "properties": {
          "formId": {
            "type": "string",
            "format": "uuid",
            "description": "Maven form identifier",
            "example": "10aec305-df07-4310-89fd-596c76748d56"
          },
          "version": {
            "type": "string",
            "description": "Form version",
            "format": "date-time",
            "example": "2020-04-08T21:19:42.123456Z"
          },
          "name": {
            "type": "string",
            "description": "Form name",
            "example": "Delivery Form"
          },
          "description": {
            "type": "string",
            "description": "Description of form",
            "example": "Form to be completed when making a delivery"
          },
          "components": {
            "description": "Form definition syntax",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormDefinitionsComponents"
            }
          }
        },
        "required": [
          "formId",
          "version",
          "name",
          "description",
          "components"
        ]
      },
      "GlobalPagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "description": "Total number of records",
            "example": 15
          },
          "hasNextPage": {
            "type": "boolean",
            "description": "Bool to indicate if there is another page of data to request.",
            "example": false
          },
          "nextPageOffset": {
            "type": "number",
            "description": "For subsequent requests, set offset to the value of this field to get the next page",
            "example": null
          }
        },
        "required": [
          "total",
          "hasNextPage",
          "nextPageOffset"
        ]
      },
      "FormDefinitionsApiResponse": {
        "type": "object",
        "properties": {
          "forms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormDefinitions"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/GlobalPagination"
          }
        },
        "required": [
          "forms",
          "pagination"
        ]
      },
      "Circle": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "Latitude of location. Accepts up to 5 decimal points of precision. \n      The valid range of latitude in degrees is -90 and +90",
            "example": 40.12345
          },
          "longitude": {
            "type": "number",
            "description": "Longitude of location. Accepts up to 5 decimal points of precision. \n      The valid range of longitude in degrees is -180 and +180",
            "example": -79.1234
          },
          "enterRadiusMeters": {
            "type": "number",
            "description": "Enter radius in meters. Radius for entering the geofence \n    (when driver arrives).",
            "example": 350.4,
            "default": 1000
          },
          "exitRadiusMeters": {
            "type": "number",
            "description": "Exit radius in meters. Radius for exiting the geofence \n    (when driver departs)",
            "example": 500.1,
            "default": 2000
          }
        },
        "required": [
          "latitude",
          "longitude",
          "enterRadiusMeters",
          "exitRadiusMeters"
        ]
      },
      "Geofence": {
        "type": "object",
        "properties": {
          "circle": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Circle"
              },
              {
                "description": "Geofencing definition. Only \"circle\" is supported for now."
              }
            ]
          }
        },
        "required": [
          "circle"
        ]
      },
      "CompanyLocationRequestDto": {
        "type": "object",
        "properties": {
          "companyLocationId": {
            "type": "number",
            "format": "integer",
            "example": 45983,
            "description": "unique identifier for a company location. If both a companyLocationId and externalCompanyLocationId are specified, Maven matches on companyLocationId. If either or both companyLocationId and externalCompanyLocationId are specified, the fields below are ignored. Either a companyLocationId or externalCompanyLocationId or explicit address are required."
          },
          "externalCompanyLocationId": {
            "type": "string",
            "example": "TMS_PLACE123",
            "description": "unique external identifier for a company location. If both a companyLocationId and externalCompanyLocationId are specified, Maven matches on companyLocationId. If either or both companyLocationId and externalCompanyLocationId are specified, the fields below are ignored. Either a companyLocationId or externalCompanyLocationId or explicit address are required."
          },
          "name": {
            "type": "string",
            "example": "Maven Machines",
            "description": "Name of location"
          },
          "address1": {
            "type": "string",
            "example": "4117 Liberty Ave",
            "description": "Street address of location"
          },
          "address2": {
            "type": "string",
            "example": "BLDG 1",
            "description": "Secondary address line of location"
          },
          "city": {
            "type": "string",
            "example": "Pittsburgh",
            "description": "City of location"
          },
          "state": {
            "type": "string",
            "format": "ISO state code",
            "example": "PA",
            "description": "State or province of location"
          },
          "zip": {
            "type": "string",
            "example": "15224",
            "description": "Zip/postal code of location"
          },
          "country": {
            "type": "string",
            "format": "ISO country code",
            "example": "US",
            "description": "Country of location"
          },
          "latitude": {
            "type": "number",
            "description": "Latitude of the company location. Accepts up to 5 decimal points of precision",
            "example": 40.12345
          },
          "longitude": {
            "type": "number",
            "description": "Longitude of the company location. Accepts up to 5 decimal points of precision",
            "example": -79.12345
          },
          "geofence": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Geofence"
              },
              {
                "description": "Geofence data object"
              }
            ]
          },
          "attributes": {
            "type": "object",
            "example": {
              "customField": "customValue"
            },
            "description": "Additional custom properties of the company location"
          },
          "notes": {
            "type": "string",
            "example": "Notes about location",
            "description": "Some notes about location"
          }
        }
      },
      "FormRequestDto": {
        "type": "object",
        "properties": {
          "formId": {
            "type": "string",
            "format": "uuid",
            "example": "8477fff9-7576-4899-bcca-ab275a6e2b62",
            "description": "Maven form identifier"
          },
          "version": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-01T12:34:56Z",
            "description": "Maven form version"
          },
          "prefill": {
            "type": "object",
            "example": {
              "formKey1": "prefillValue1",
              "formKey2": "prefillValue2"
            },
            "description": "Allows you to define prefilled data for specific fields in a form. If autocomplete is enabled on a field, prefilled values will take precedence."
          },
          "literalPreFillMapping": {
            "type": "object",
            "example": {
              "formKey1": "literalPreFillMappingValue1",
              "formKey2": "literalPreFillMappingValue2"
            },
            "description": "Allows you to define prefill mapping for specific fields in a form"
          }
        },
        "required": [
          "formId",
          "version"
        ]
      },
      "CreateTripStopRequestDto": {
        "type": "object",
        "properties": {
          "sequence": {
            "type": "number",
            "example": 1,
            "description": "sequence order of stop on trip. If none is provided, the stop will be added to the end of the trip."
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyLocationRequestDto"
              },
              {
                "description": "Location data object"
              }
            ]
          },
          "tmsStopType": {
            "type": "string",
            "example": "\u201cLive Unload\u201c or \u201cPU\u201c",
            "description": "Stop type key from the TMS"
          },
          "typeDisplayName": {
            "type": "string",
            "example": "\u201cPickup\u201c or \u201cHook Trailer\u201c",
            "description": "Used for adding a visual tag to denote different stop types."
          },
          "displayName": {
            "type": "string",
            "example": "STOP123",
            "description": "Display name for stop"
          },
          "description": {
            "type": "string",
            "example": "Call ahead before arriving",
            "description": "Description/summary/details about the stop"
          },
          "scheduledDate": {
            "type": "string",
            "format": "date",
            "example": "2020-05-04",
            "description": "Date the stop is scheduled to occur"
          },
          "windowStartTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-04T12:00:00Z",
            "description": "Earliest time to arrive at the stop"
          },
          "windowEndTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-04T16:00:00Z",
            "description": "Latest time to arrive at the stop"
          },
          "scheduledWeight": {
            "type": "number",
            "example": 5555,
            "description": "Scheduled weight for the stop (1 decimal place)"
          },
          "scheduledVolume": {
            "type": "number",
            "example": 50,
            "description": "Scheduled volume for the stop (1 decimal place)"
          },
          "scheduledCount": {
            "type": "integer",
            "example": 5,
            "description": "Scheduled pieces count for the stop"
          },
          "forms": {
            "description": "Forms associated with the stop",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormRequestDto"
            }
          },
          "attributes": {
            "type": "object",
            "example": {
              "customField": "customValue"
            },
            "description": "Additional custom properties of the stop"
          },
          "expectedServiceTime": {
            "type": "integer",
            "example": 5,
            "description": "Expected service time in minutes. Used for ETA calculation."
          },
          "externalStopId": {
            "type": "string",
            "example": "TMS_1234",
            "description": "Unique external identifier for stop"
          }
        },
        "required": [
          "sequence"
        ]
      },
      "TripCreateRequestDto": {
        "type": "object",
        "properties": {
          "externalTripId": {
            "type": "string",
            "example": "TMS_123456",
            "description": "Unique external identifier for trip"
          },
          "externalUserIds": {
            "example": [
              "USER123",
              "USER456"
            ],
            "description": "Unique external identifiers for drivers scheduled for this trip",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "userIds": {
            "format": "[integer]",
            "example": [
              17161,
              650
            ],
            "description": "Unique identifiers for drivers scheduled for this trip",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "externalVehicleIds": {
            "example": [
              "TRUCK123"
            ],
            "description": "Unique external identifiers for vehicles scheduled for this trip",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "externalTrailerIds": {
            "example": [
              "TRAILER123"
            ],
            "description": "Unique external identifiers for trailers scheduled for this trip",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "displayName": {
            "type": "string",
            "example": "TRIP101",
            "description": "Display name for trip"
          },
          "description": {
            "type": "string",
            "example": "Go places, do stuff",
            "description": "Description/summary/details about the trip"
          },
          "tmsTripType": {
            "type": "string",
            "example": "loaded",
            "description": "Trip type key from the TMS."
          },
          "sequence": {
            "type": "number",
            "example": 5,
            "description": "Trip sequence number"
          },
          "scheduledStartTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-01T06:30:00Z",
            "description": "Scheduled start time for the trip"
          },
          "scheduledEndTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-08T20:30:00Z",
            "description": "Scheduled end time for the trip"
          },
          "scheduledDistanceTotal": {
            "type": "number",
            "example": 1234.5,
            "description": "Scheduled total distance for the trip (1 decimal place)"
          },
          "scheduledDistanceLoaded": {
            "type": "number",
            "example": 1200,
            "description": "Scheduled loaded distance for the trip (1 decimal place)"
          },
          "scheduledDistanceEmpty": {
            "type": "number",
            "example": 34.5,
            "description": "Scheduled empty distance for the trip (1 decimal place)"
          },
          "scheduledWeight": {
            "type": "number",
            "example": 5555,
            "description": "Scheduled weight for the trip load (1 decimal place)"
          },
          "scheduledVolume": {
            "type": "number",
            "example": 50,
            "description": "Scheduled volume for the trip load (1 decimal place)"
          },
          "scheduledCount": {
            "type": "integer",
            "example": 5,
            "description": "Scheduled pieces count for the trip"
          },
          "shipper": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyLocationRequestDto"
              },
              {
                "description": "Shipper associated with the trip"
              }
            ]
          },
          "consignee": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyLocationRequestDto"
              },
              {
                "description": "Consignee associated with the trip"
              }
            ]
          },
          "stops": {
            "description": "Stops associated with the trip",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateTripStopRequestDto"
            }
          },
          "attributes": {
            "type": "object",
            "example": {
              "customField": "customValue"
            },
            "description": "Additional custom properties of the trip"
          }
        }
      },
      "CompanyLocation": {
        "type": "object",
        "properties": {
          "companyLocationId": {
            "type": "number",
            "format": "integer",
            "example": 45983,
            "description": "unique identifier for a company location. If both a companyLocationId and externalCompanyLocationId are specified, Maven matches on companyLocationId. If either or both companyLocationId and externalCompanyLocationId are specified, the fields below are ignored. Either a companyLocationId or externalCompanyLocationId or explicit address are required."
          },
          "externalCompanyLocationId": {
            "type": "string",
            "example": "TMS_PLACE123",
            "description": "unique external identifier for a company location. If both a companyLocationId and externalCompanyLocationId are specified, Maven matches on companyLocationId. If either or both companyLocationId and externalCompanyLocationId are specified, the fields below are ignored. Either a companyLocationId or externalCompanyLocationId or explicit address are required."
          },
          "name": {
            "type": "string",
            "example": "Maven Machines",
            "description": "Name of location"
          },
          "address1": {
            "type": "string",
            "example": "4117 Liberty Ave",
            "description": "Street address of location"
          },
          "address2": {
            "type": "string",
            "example": "BLDG 1",
            "description": "Secondary address line of location"
          },
          "city": {
            "type": "string",
            "example": "Pittsburgh",
            "description": "City of location"
          },
          "state": {
            "type": "string",
            "format": "ISO state code",
            "example": "PA",
            "description": "State or province of location"
          },
          "zip": {
            "type": "string",
            "example": "15224",
            "description": "Zip/postal code of location"
          },
          "country": {
            "type": "string",
            "format": "ISO country code",
            "example": "US",
            "description": "Country of location"
          },
          "latitude": {
            "type": "number",
            "description": "Latitude of the company location. Accepts up to 5 decimal points of precision",
            "example": 40.12345
          },
          "longitude": {
            "type": "number",
            "description": "Longitude of the company location. Accepts up to 5 decimal points of precision",
            "example": -79.12345
          },
          "geofence": {
            "$ref": "#/components/schemas/Geofence"
          }
        },
        "required": [
          "companyLocationId",
          "externalCompanyLocationId",
          "name",
          "address1",
          "address2",
          "city",
          "state",
          "zip",
          "country",
          "latitude",
          "longitude",
          "geofence"
        ]
      },
      "Form": {
        "type": "object",
        "properties": {
          "literalPreFillMapping": {
            "type": "object",
            "example": {
              "formKey1": "literalPreFillMappingValue1",
              "formKey2": "literalPreFillMappingValue2"
            },
            "description": "Allows you to define prefill mapping for specific fields in a form"
          },
          "formId": {
            "type": "string",
            "format": "uuid",
            "example": "8477fff9-7576-4899-bcca-ab275a6e2b62",
            "description": "Maven form identifier"
          },
          "version": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-01T12:34:56Z",
            "description": "Maven form version"
          },
          "prefill": {
            "type": "object",
            "example": {
              "formKey1": "prefillValue1",
              "formKey2": "prefillValue2"
            },
            "description": "Allows you to define prefilled data for specific fields in a form. If autocomplete is enabled on a field, prefilled values will take precedence."
          }
        },
        "required": [
          "literalPreFillMapping",
          "formId",
          "version",
          "prefill"
        ]
      },
      "Stop": {
        "type": "object",
        "properties": {
          "stopId": {
            "type": "integer",
            "example": 1234567,
            "description": "Maven unique identifier for stop"
          },
          "externalStopId": {
            "type": "string",
            "example": "TMS_1234",
            "description": "Unique external identifier for stop"
          },
          "displayName": {
            "type": "string",
            "example": "STOP123",
            "description": "Display name for stop"
          },
          "description": {
            "type": "string",
            "example": "Call ahead before arriving",
            "description": "Description/summary/details about the stop"
          },
          "scheduledDate": {
            "type": "string",
            "format": "date",
            "example": "2020-05-04",
            "description": "Date the stop is scheduled to occur"
          },
          "windowStartTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-04T12:00:00Z",
            "description": "Earliest time to arrive at the stop"
          },
          "windowEndTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-04T16:00:00Z",
            "description": "Latest time to arrive at the stop"
          },
          "scheduledWeight": {
            "type": "number",
            "example": 5555,
            "description": "Scheduled weight for the stop (1 decimal place)"
          },
          "scheduledVolume": {
            "type": "number",
            "example": 50,
            "description": "Scheduled volume for the stop (1 decimal place)"
          },
          "scheduledCount": {
            "type": "integer",
            "example": 5,
            "description": "Scheduled pieces count for the stop"
          },
          "tripId": {
            "type": "integer",
            "example": 123456,
            "description": "Maven unique identifier for trip"
          },
          "sequence": {
            "type": "number",
            "example": 1,
            "description": "sequence order of stop on trip. If none is provided, the stop will be added to the end of the trip."
          },
          "tmsStopType": {
            "type": "string",
            "example": "\u201cLive Unload\u201c or \u201cPU\u201c",
            "description": "Stop type key from the TMS"
          },
          "typeDisplayName": {
            "type": "string",
            "example": "\u201cPickup\u201c or \u201cHook Trailer\u201c",
            "description": "Used for adding a visual tag to denote different stop types."
          },
          "expectedServiceTime": {
            "type": "integer",
            "example": 5,
            "description": "Expected service time in minutes. Used for ETA calculation."
          },
          "forms": {
            "description": "Forms associated with the stop",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form"
            }
          },
          "attributes": {
            "type": "object",
            "example": {
              "customField": "customValue"
            },
            "description": "Additional custom properties of the stop"
          },
          "externalTripId": {
            "type": "string",
            "example": "TMS_123456",
            "description": "Unique external identifier for trip"
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyLocation"
              },
              {
                "description": "Location data object"
              }
            ]
          }
        },
        "required": [
          "stopId",
          "externalStopId",
          "displayName",
          "description",
          "scheduledDate",
          "windowStartTime",
          "windowEndTime",
          "scheduledWeight",
          "scheduledVolume",
          "scheduledCount",
          "tripId",
          "sequence",
          "tmsStopType",
          "typeDisplayName",
          "expectedServiceTime",
          "forms",
          "attributes",
          "externalTripId",
          "location"
        ]
      },
      "Trip": {
        "type": "object",
        "properties": {
          "tripId": {
            "type": "integer",
            "example": 123456,
            "description": "Maven unique identifier for trip"
          },
          "externalTripId": {
            "type": "string",
            "example": "TMS_123456",
            "description": "Unique external identifier for trip"
          },
          "userIds": {
            "format": "[integer]",
            "example": [
              17161,
              650
            ],
            "description": "Unique identifiers for drivers scheduled for this trip",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "externalUserIds": {
            "example": [
              "USER123",
              "USER456"
            ],
            "description": "Unique external identifiers for drivers scheduled for this trip",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "displayName": {
            "type": "string",
            "example": "TRIP101",
            "description": "Display name for trip"
          },
          "description": {
            "type": "string",
            "example": "Go places, do stuff",
            "description": "Description/summary/details about the trip"
          },
          "scheduledStartTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-01T06:30:00Z",
            "description": "Scheduled start time for the trip"
          },
          "scheduledEndTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-08T20:30:00Z",
            "description": "Scheduled end time for the trip"
          },
          "scheduledDistanceTotal": {
            "type": "number",
            "example": 1234.5,
            "description": "Scheduled total distance for the trip (1 decimal place)"
          },
          "scheduledDistanceLoaded": {
            "type": "number",
            "example": 1200,
            "description": "Scheduled loaded distance for the trip (1 decimal place)"
          },
          "scheduledDistanceEmpty": {
            "type": "number",
            "example": 34.5,
            "description": "Scheduled empty distance for the trip (1 decimal place)"
          },
          "scheduledWeight": {
            "type": "number",
            "example": 5555,
            "description": "Scheduled weight for the trip load (1 decimal place)"
          },
          "scheduledVolume": {
            "type": "number",
            "example": 50,
            "description": "Scheduled volume for the trip load (1 decimal place)"
          },
          "scheduledCount": {
            "type": "integer",
            "example": 5,
            "description": "Scheduled pieces count for the trip"
          },
          "tmsTripType": {
            "type": "string",
            "example": "loaded",
            "description": "Trip type key from the TMS."
          },
          "sequence": {
            "type": "number",
            "example": 5,
            "description": "Trip sequence number"
          },
          "attributes": {
            "type": "object",
            "example": {
              "customField": "customValue"
            },
            "description": "Additional custom properties of the trip"
          },
          "externalVehicleIds": {
            "example": [
              "TRUCK123"
            ],
            "description": "Unique external identifiers for vehicles scheduled for this trip",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "externalTrailerIds": {
            "example": [
              "TRAILER123"
            ],
            "description": "Unique external identifiers for trailers scheduled for this trip",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "shipper": {
            "$ref": "#/components/schemas/CompanyLocation"
          },
          "consignee": {
            "$ref": "#/components/schemas/CompanyLocation"
          },
          "stops": {
            "description": "Stops associated with the trip",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Stop"
            }
          }
        },
        "required": [
          "tripId",
          "externalTripId",
          "userIds",
          "externalUserIds",
          "displayName",
          "description",
          "scheduledStartTime",
          "scheduledEndTime",
          "scheduledDistanceTotal",
          "scheduledDistanceLoaded",
          "scheduledDistanceEmpty",
          "scheduledWeight",
          "scheduledVolume",
          "scheduledCount",
          "tmsTripType",
          "sequence",
          "attributes",
          "externalVehicleIds",
          "externalTrailerIds",
          "shipper",
          "consignee",
          "stops"
        ]
      },
      "Units": {
        "type": "object",
        "properties": {
          "volume": {
            "type": "string",
            "enum": [
              "cubicfeet",
              "cubicmeters",
              "barrels",
              "gallons",
              "liters"
            ],
            "default": "cubicfeet",
            "description": "Unit of measurement for volume fields"
          },
          "weight": {
            "type": "string",
            "enum": [
              "pounds",
              "kilograms"
            ],
            "default": "pounds",
            "description": "Unit of measurement for weight fields"
          },
          "distance": {
            "type": "string",
            "enum": [
              "miles",
              "kilometers"
            ],
            "default": "miles",
            "description": "Unit of measurement for distance fields"
          }
        },
        "required": [
          "volume",
          "weight",
          "distance"
        ]
      },
      "TripApiResponse": {
        "type": "object",
        "properties": {
          "trip": {
            "$ref": "#/components/schemas/Trip"
          },
          "units": {
            "$ref": "#/components/schemas/Units"
          }
        },
        "required": [
          "trip",
          "units"
        ]
      },
      "UpdateTripStopRequestDto": {
        "type": "object",
        "properties": {
          "sequence": {
            "type": "number",
            "example": 1,
            "description": "sequence order of stop on trip. If none is provided, the stop will be added to the end of the trip."
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyLocationRequestDto"
              },
              {
                "description": "Location data object"
              }
            ]
          },
          "tmsStopType": {
            "type": "string",
            "example": "\u201cLive Unload\u201c or \u201cPU\u201c",
            "description": "Stop type key from the TMS"
          },
          "typeDisplayName": {
            "type": "string",
            "example": "\u201cPickup\u201c or \u201cHook Trailer\u201c",
            "description": "Used for adding a visual tag to denote different stop types."
          },
          "displayName": {
            "type": "string",
            "example": "STOP123",
            "description": "Display name for stop"
          },
          "description": {
            "type": "string",
            "example": "Call ahead before arriving",
            "description": "Description/summary/details about the stop"
          },
          "scheduledDate": {
            "type": "string",
            "format": "date",
            "example": "2020-05-04",
            "description": "Date the stop is scheduled to occur"
          },
          "windowStartTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-04T12:00:00Z",
            "description": "Earliest time to arrive at the stop"
          },
          "windowEndTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-04T16:00:00Z",
            "description": "Latest time to arrive at the stop"
          },
          "scheduledWeight": {
            "type": "number",
            "example": 5555,
            "description": "Scheduled weight for the stop (1 decimal place)"
          },
          "scheduledVolume": {
            "type": "number",
            "example": 50,
            "description": "Scheduled volume for the stop (1 decimal place)"
          },
          "scheduledCount": {
            "type": "integer",
            "example": 5,
            "description": "Scheduled pieces count for the stop"
          },
          "forms": {
            "description": "Forms associated with the stop",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormRequestDto"
            }
          },
          "attributes": {
            "type": "object",
            "example": {
              "customField": "customValue"
            },
            "description": "Additional custom properties of the stop"
          },
          "expectedServiceTime": {
            "type": "integer",
            "example": 5,
            "description": "Expected service time in minutes. Used for ETA calculation."
          },
          "stopId": {
            "type": "string",
            "example": "123",
            "description": "Stop id"
          },
          "externalStopId": {
            "type": "string",
            "example": "123",
            "description": "External stop id"
          }
        },
        "required": [
          "sequence"
        ]
      },
      "TripUpdateRequestDto": {
        "type": "object",
        "properties": {
          "externalUserIds": {
            "example": [
              "USER123",
              "USER456"
            ],
            "description": "Unique external identifiers for drivers scheduled for this trip",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "externalVehicleIds": {
            "example": [
              "TRUCK123"
            ],
            "description": "Unique external identifiers for vehicles scheduled for this trip",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "externalTrailerIds": {
            "example": [
              "TRAILER123"
            ],
            "description": "Unique external identifiers for trailers scheduled for this trip",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "displayName": {
            "type": "string",
            "example": "TRIP101",
            "description": "Display name for trip"
          },
          "description": {
            "type": "string",
            "example": "Go places, do stuff",
            "description": "Description/summary/details about the trip"
          },
          "tmsTripType": {
            "type": "string",
            "example": "loaded",
            "description": "Trip type key from the TMS."
          },
          "sequence": {
            "type": "number",
            "example": 5,
            "description": "Trip sequence number"
          },
          "scheduledStartTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-01T06:30:00Z",
            "description": "Scheduled start time for the trip"
          },
          "scheduledEndTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-08T20:30:00Z",
            "description": "Scheduled end time for the trip"
          },
          "scheduledDistanceTotal": {
            "type": "number",
            "example": 1234.5,
            "description": "Scheduled total distance for the trip (1 decimal place)"
          },
          "scheduledDistanceLoaded": {
            "type": "number",
            "example": 1200,
            "description": "Scheduled loaded distance for the trip (1 decimal place)"
          },
          "scheduledDistanceEmpty": {
            "type": "number",
            "example": 34.5,
            "description": "Scheduled empty distance for the trip (1 decimal place)"
          },
          "scheduledWeight": {
            "type": "number",
            "example": 5555,
            "description": "Scheduled weight for the trip load (1 decimal place)"
          },
          "scheduledVolume": {
            "type": "number",
            "example": 50,
            "description": "Scheduled volume for the trip load (1 decimal place)"
          },
          "scheduledCount": {
            "type": "integer",
            "example": 5,
            "description": "Scheduled pieces count for the trip"
          },
          "shipper": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyLocationRequestDto"
              },
              {
                "description": "Shipper associated with the trip"
              }
            ]
          },
          "consignee": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyLocationRequestDto"
              },
              {
                "description": "Consignee associated with the trip"
              }
            ]
          },
          "attributes": {
            "type": "object",
            "example": {
              "customField": "customValue"
            },
            "description": "Additional custom properties of the trip"
          },
          "stops": {
            "description": "Stops associated with the trip",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateTripStopRequestDto"
            }
          }
        }
      },
      "CreateStopRequestDto": {
        "type": "object",
        "properties": {
          "sequence": {
            "type": "number",
            "example": 1,
            "description": "sequence order of stop on trip. If none is provided, the stop will be added to the end of the trip."
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyLocationRequestDto"
              },
              {
                "description": "Location data object"
              }
            ]
          },
          "tmsStopType": {
            "type": "string",
            "example": "\u201cLive Unload\u201c or \u201cPU\u201c",
            "description": "Stop type key from the TMS"
          },
          "typeDisplayName": {
            "type": "string",
            "example": "\u201cPickup\u201c or \u201cHook Trailer\u201c",
            "description": "Used for adding a visual tag to denote different stop types."
          },
          "displayName": {
            "type": "string",
            "example": "STOP123",
            "description": "Display name for stop"
          },
          "description": {
            "type": "string",
            "example": "Call ahead before arriving",
            "description": "Description/summary/details about the stop"
          },
          "scheduledDate": {
            "type": "string",
            "format": "date",
            "example": "2020-05-04",
            "description": "Date the stop is scheduled to occur"
          },
          "windowStartTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-04T12:00:00Z",
            "description": "Earliest time to arrive at the stop"
          },
          "windowEndTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-04T16:00:00Z",
            "description": "Latest time to arrive at the stop"
          },
          "scheduledWeight": {
            "type": "number",
            "example": 5555,
            "description": "Scheduled weight for the stop (1 decimal place)"
          },
          "scheduledVolume": {
            "type": "number",
            "example": 50,
            "description": "Scheduled volume for the stop (1 decimal place)"
          },
          "scheduledCount": {
            "type": "integer",
            "example": 5,
            "description": "Scheduled pieces count for the stop"
          },
          "forms": {
            "description": "Forms associated with the stop",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormRequestDto"
            }
          },
          "attributes": {
            "type": "object",
            "example": {
              "customField": "customValue"
            },
            "description": "Additional custom properties of the stop"
          },
          "expectedServiceTime": {
            "type": "integer",
            "example": 5,
            "description": "Expected service time in minutes. Used for ETA calculation."
          },
          "externalTripId": {
            "type": "string",
            "example": "TMS_123456",
            "description": "Unique external identifier for trip"
          },
          "tripId": {
            "type": "integer",
            "example": 12245,
            "description": "Unique identifier for a trip. Either tripId or externalTripId is required. If both are provided, Maven will look up by tripId first."
          },
          "externalStopId": {
            "type": "string",
            "example": "TMS_1234",
            "description": "Unique external identifier for stop"
          }
        },
        "required": [
          "sequence"
        ]
      },
      "CreateUpdateStopApiResponse": {
        "type": "object",
        "properties": {
          "stop": {
            "$ref": "#/components/schemas/Stop"
          },
          "units": {
            "$ref": "#/components/schemas/Units"
          }
        },
        "required": [
          "stop",
          "units"
        ]
      },
      "UpdateStopRequestDto": {
        "type": "object",
        "properties": {
          "sequence": {
            "type": "number",
            "example": 1,
            "description": "sequence order of stop on trip. If none is provided, the stop will be added to the end of the trip."
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyLocationRequestDto"
              },
              {
                "description": "Location data object"
              }
            ]
          },
          "tmsStopType": {
            "type": "string",
            "example": "\u201cLive Unload\u201c or \u201cPU\u201c",
            "description": "Stop type key from the TMS"
          },
          "typeDisplayName": {
            "type": "string",
            "example": "\u201cPickup\u201c or \u201cHook Trailer\u201c",
            "description": "Used for adding a visual tag to denote different stop types."
          },
          "displayName": {
            "type": "string",
            "example": "STOP123",
            "description": "Display name for stop"
          },
          "description": {
            "type": "string",
            "example": "Call ahead before arriving",
            "description": "Description/summary/details about the stop"
          },
          "scheduledDate": {
            "type": "string",
            "format": "date",
            "example": "2020-05-04",
            "description": "Date the stop is scheduled to occur"
          },
          "windowStartTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-04T12:00:00Z",
            "description": "Earliest time to arrive at the stop"
          },
          "windowEndTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-04T16:00:00Z",
            "description": "Latest time to arrive at the stop"
          },
          "scheduledWeight": {
            "type": "number",
            "example": 5555,
            "description": "Scheduled weight for the stop (1 decimal place)"
          },
          "scheduledVolume": {
            "type": "number",
            "example": 50,
            "description": "Scheduled volume for the stop (1 decimal place)"
          },
          "scheduledCount": {
            "type": "integer",
            "example": 5,
            "description": "Scheduled pieces count for the stop"
          },
          "forms": {
            "description": "Forms associated with the stop",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormRequestDto"
            }
          },
          "attributes": {
            "type": "object",
            "example": {
              "customField": "customValue"
            },
            "description": "Additional custom properties of the stop"
          },
          "expectedServiceTime": {
            "type": "integer",
            "example": 5,
            "description": "Expected service time in minutes. Used for ETA calculation."
          },
          "externalTripId": {
            "type": "string",
            "example": "TMS_123456",
            "description": "Unique external identifier for trip"
          },
          "tripId": {
            "type": "integer",
            "example": 12245,
            "description": "Unique identifier for a trip. Either tripId or externalTripId is required. If both are provided, Maven will look up by tripId first."
          }
        },
        "required": [
          "sequence"
        ]
      },
      "PatchStopRequestDto": {
        "type": "object",
        "properties": {
          "sequence": {
            "type": "number",
            "example": 1,
            "description": "sequence order of stop on trip. If none is provided, the stop will be added to the end of the trip."
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyLocationRequestDto"
              },
              {
                "description": "Location data object"
              }
            ]
          },
          "tmsStopType": {
            "type": "string",
            "example": "\u201cLive Unload\u201c or \u201cPU\u201c",
            "description": "Stop type key from the TMS"
          },
          "typeDisplayName": {
            "type": "string",
            "example": "\u201cPickup\u201c or \u201cHook Trailer\u201c",
            "description": "Used for adding a visual tag to denote different stop types."
          },
          "displayName": {
            "type": "string",
            "example": "STOP123",
            "description": "Display name for stop"
          },
          "description": {
            "type": "string",
            "example": "Call ahead before arriving",
            "description": "Description/summary/details about the stop"
          },
          "scheduledDate": {
            "type": "string",
            "format": "date",
            "example": "2020-05-04",
            "description": "Date the stop is scheduled to occur"
          },
          "windowStartTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-04T12:00:00Z",
            "description": "Earliest time to arrive at the stop"
          },
          "windowEndTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-04T16:00:00Z",
            "description": "Latest time to arrive at the stop"
          },
          "scheduledWeight": {
            "type": "number",
            "example": 5555,
            "description": "Scheduled weight for the stop (1 decimal place)"
          },
          "scheduledVolume": {
            "type": "number",
            "example": 50,
            "description": "Scheduled volume for the stop (1 decimal place)"
          },
          "scheduledCount": {
            "type": "integer",
            "example": 5,
            "description": "Scheduled pieces count for the stop"
          },
          "forms": {
            "description": "Forms associated with the stop",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormRequestDto"
            }
          },
          "attributes": {
            "type": "object",
            "example": {
              "customField": "customValue"
            },
            "description": "Additional custom properties of the stop"
          },
          "expectedServiceTime": {
            "type": "integer",
            "example": 5,
            "description": "Expected service time in minutes. Used for ETA calculation."
          },
          "externalTripId": {
            "type": "string",
            "example": "TMS_123456",
            "description": "Unique external identifier for trip"
          },
          "tripId": {
            "type": "integer",
            "example": 12245,
            "description": "Unique identifier for a trip. Either tripId or externalTripId is required. If both are provided, Maven will look up by tripId first."
          }
        }
      },
      "GetStopApiResponse": {
        "type": "object",
        "properties": {
          "stops": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "units": {
            "$ref": "#/components/schemas/Units"
          }
        },
        "required": [
          "stops",
          "units"
        ]
      },
      "GetTripApiResponse": {
        "type": "object",
        "properties": {
          "trips": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "units": {
            "$ref": "#/components/schemas/Units"
          }
        },
        "required": [
          "trips",
          "units"
        ]
      },
      "TripsStopsStatusUpdateRequestDto": {
        "type": "object",
        "properties": {
          "trips": {
            "example": [
              {
                "actualStartTime": "2022-03-17T21:49:12.000Z",
                "actualEndTime": null
              }
            ],
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "stops": {
            "example": [
              {
                "stopId": 12345,
                "externalStopId": "TMS_1234",
                "canceledTime": "2022-03-17T21:49:12.000Z"
              },
              {
                "stopId": 67890,
                "externalStopId": "TMS_6789",
                "skippedTime": "2022-03-17T21:49:12.000Z"
              }
            ],
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TripsStopsStatusApiResponse": {
        "type": "object",
        "properties": {
          "trips": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "units": {
            "$ref": "#/components/schemas/Units"
          }
        },
        "required": [
          "trips",
          "units"
        ]
      },
      "FormResults": {
        "type": "object",
        "properties": {
          "companyId": {
            "type": "number",
            "description": "Maven form result company identifier",
            "example": 1
          },
          "hr_id": {
            "type": "string",
            "description": "Maven form result user identifier",
            "example": "df610a41-6b33-4652-a8de-8a7ed0d290e7"
          },
          "formResultsId": {
            "type": "string",
            "description": "Maven form result identifier",
            "example": "df610a41-6b33-4652-a8de-8a7ed0d290e7"
          },
          "formId": {
            "type": "string",
            "description": "Maven form identifier",
            "example": "10aec305-df07-4310-89fd-596c76748d56"
          },
          "version": {
            "type": "string",
            "description": "Maven form version",
            "format": "date-time",
            "example": "2020-05-01T14:08:23Z"
          },
          "name": {
            "type": "string",
            "description": "Name of form",
            "example": "Delivery Form"
          },
          "submittedBy": {
            "type": "string",
            "description": "Name of user who submitted this form",
            "example": "John Smith"
          },
          "externalUserId": {
            "type": "string",
            "description": "Unique external identifier for the user who submitted this form",
            "example": "USER123"
          },
          "submissionTime": {
            "type": "string",
            "description": "Time that this form result was submitted",
            "format": "date-time",
            "example": "2020-05-05T08:37:53Z"
          },
          "approvals": {
            "type": "string",
            "description": "Reserved for future expansion",
            "example": null
          },
          "formResults": {
            "type": "object",
            "description": "Form results",
            "example": {
              "BoL": [
                "https://maven-documents-prod.s3.amazonaws.com/8042971139979c51-1f36-bfed-3959q"
              ],
              "Stop": "123",
              "Event": null,
              "Amount": null,
              "Lumper?": "No",
              "Tractor": "456",
              "Comments": null,
              "Latitude": 40.43543,
              "Location": null,
              "Odometer": 83064.2793,
              "Longitude": -88.7630544,
              "Pro Number": "7892127",
              "Driver Name": "John Smith",
              "Company Name": null,
              "Driver Unload": "No",
              "Lumper Receipt": null,
              "How was the client?": 4
            }
          }
        },
        "required": [
          "companyId",
          "hr_id",
          "formResultsId",
          "formId",
          "version",
          "name",
          "submittedBy",
          "externalUserId",
          "submissionTime",
          "approvals",
          "formResults"
        ]
      },
      "FormResultsPagination": {
        "type": "object",
        "properties": {
          "nextPageStartTime": {
            "type": "string",
            "description": "For subsequent requests, set startTime to the value of this field to get the next page",
            "format": "date-time",
            "example": "2020-05-07T21:50.42Z"
          },
          "hasNextPage": {
            "type": "boolean",
            "description": "True if there is another page of forms data to request",
            "example": true
          }
        },
        "required": [
          "nextPageStartTime",
          "hasNextPage"
        ]
      },
      "FormResultsApiResponse": {
        "type": "object",
        "properties": {
          "forms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormResults"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/FormResultsPagination"
          }
        },
        "required": [
          "forms",
          "pagination"
        ]
      }
    }
  },
  "paths": {
    "/forms": {
      "get": {
        "operationId": "FormDefinitionsController_getFormDefinitions",
        "summary": "GET /forms",
        "description": "\n    Below is a list of all the forms that Maven provides for Truckload experience. In general these can be customized by the fleet.\n\n      - start trip\n      - end trip\n      - arrive stop/terminal\n      - auto-arrive stop/terminal\n      - depart stop/terminal\n      - auto-depart stop/terminal\n      - workflow (forms associated to specific stop/terminal)\n        - ex: trailer info, delivery info\n      - ad-hoc (forms not assigned to a particular stop, but accessible to drivers throughout their day)\n        - ex: break-down form, time-off request    \n    \n    \n    Retrieves form definitions from the Maven system.\n    ",
        "parameters": [
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "example": 5,
            "description": "Pagination result offset. Defaults to 0.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful API response for fetching form definitions from the Maven system",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormDefinitionsApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "When form definitions not found for company"
          },
          "500": {
            "description": "Unknown error response from the customers service."
          }
        },
        "tags": [
          "forms"
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/truckload/trips": {
      "post": {
        "operationId": "TruckloadController_createTrip",
        "summary": "POST /truckload/trips",
        "description": "\n    The create trip API allows for the creation of a trip and associated stops\n    in the Maven system.\n    The apiKey header authenticates and authorizes the request to submit trip\n    data for a specific company.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TripCreateRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A successful API response for trip creation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripApiResponse"
                }
              }
            }
          }
        },
        "tags": [
          "truckload"
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "operationId": "TruckloadController_updateTrip",
        "summary": "PUT /truckload/trips",
        "description": "\n    The update trip API allows for the updating of a trip \n    in the Maven system.\n    The apiKey header authenticates and authorizes the request to submit trip\n    data for a specific company.",
        "parameters": [
          {
            "name": "tripId",
            "required": false,
            "in": "query",
            "example": 123456,
            "description": "Maven unique identifier for trip",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "externalTripId",
            "required": false,
            "in": "query",
            "example": "TMS_123456",
            "description": "Unique external identifier for trip",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TripUpdateRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful API response for trip update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripApiResponse"
                }
              }
            }
          }
        },
        "tags": [
          "truckload"
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "operationId": "TruckloadController_patchTrip",
        "summary": "PATCH /truckload/trips",
        "description": "\n    The update trip API allows for the updating of a trip \n    in the Maven system.\n    The apiKey header authenticates and authorizes the request to submit trip\n    data for a specific company.",
        "parameters": [
          {
            "name": "tripId",
            "required": false,
            "in": "query",
            "example": 123456,
            "description": "Maven unique identifier for trip",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "externalTripId",
            "required": false,
            "in": "query",
            "example": "TMS_123456",
            "description": "Unique external identifier for trip",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TripUpdateRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful API response for trip update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripApiResponse"
                }
              }
            }
          }
        },
        "tags": [
          "truckload"
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "operationId": "TruckloadController_deleteTrip",
        "summary": "DELETE /truckload/trips",
        "description": "\n    The delete trip API allows for the deletion of a trip \n    in the Maven system.\n    The apiKey header authenticates and authorizes the request to submit trip\n    data for a specific company.",
        "parameters": [
          {
            "name": "tripId",
            "required": false,
            "in": "query",
            "example": 123456,
            "description": "Maven unique identifier for trip",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "externalTripId",
            "required": false,
            "in": "query",
            "example": "TMS_123456",
            "description": "Unique external identifier for trip",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Trip was deleted successfully"
          }
        },
        "tags": [
          "truckload"
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "operationId": "TruckloadController_getTrip",
        "summary": "GET /truckload/trips",
        "description": "Get truckload trip",
        "parameters": [
          {
            "name": "tripId",
            "required": false,
            "in": "query",
            "example": 123456,
            "description": "Maven unique identifier for trip",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "externalTripId",
            "required": false,
            "in": "query",
            "example": "TMS_123456",
            "description": "Unique external identifier for trip",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful API response for trip getting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTripApiResponse"
                }
              }
            }
          }
        },
        "tags": [
          "truckload"
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/truckload/stops": {
      "post": {
        "operationId": "TruckloadController_createStop",
        "summary": "POST /truckload/stops",
        "description": "Creates a stop in the Maven system. The stop can be attached to a trip at the desired sequence.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStopRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A successful API response for stop creation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUpdateStopApiResponse"
                }
              }
            }
          }
        },
        "tags": [
          "truckload"
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "operationId": "TruckloadController_updateStop",
        "summary": "PUT /truckload/stops",
        "description": "Updates a stop in the Maven system.",
        "parameters": [
          {
            "name": "stopId",
            "required": false,
            "in": "query",
            "example": "12345",
            "description": "Stop id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalStopId",
            "required": false,
            "in": "query",
            "example": "123",
            "description": "External stop id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStopRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful API response for stop update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUpdateStopApiResponse"
                }
              }
            }
          }
        },
        "tags": [
          "truckload"
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "operationId": "TruckloadController_patchStop",
        "summary": "PATCH /truckload/stops",
        "description": "Updates a stop in the Maven system.",
        "parameters": [
          {
            "name": "stopId",
            "required": false,
            "in": "query",
            "example": "12345",
            "description": "Stop id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalStopId",
            "required": false,
            "in": "query",
            "example": "123",
            "description": "External stop id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchStopRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful API response for stop update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUpdateStopApiResponse"
                }
              }
            }
          }
        },
        "tags": [
          "truckload"
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "operationId": "TruckloadController_deleteStop",
        "summary": "DELETE /truckload/stops",
        "description": "Deletes a stop in the Maven system. If the stop does not exist, we error out.",
        "parameters": [
          {
            "name": "stopId",
            "required": false,
            "in": "query",
            "example": "12345",
            "description": "Stop id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalStopId",
            "required": false,
            "in": "query",
            "example": "123",
            "description": "External stop id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "A successful API response for stop deletion"
          }
        },
        "tags": [
          "truckload"
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "operationId": "TruckloadController_getStop",
        "summary": "GET /truckload/stops",
        "description": "Get a stop in the Maven system.",
        "parameters": [
          {
            "name": "stopId",
            "required": false,
            "in": "query",
            "example": "12345",
            "description": "Stop id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalStopId",
            "required": false,
            "in": "query",
            "example": "123",
            "description": "External stop id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful API response for getting stop",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStopApiResponse"
                }
              }
            }
          }
        },
        "tags": [
          "truckload"
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/truckload/trips/status": {
      "patch": {
        "operationId": "TruckloadController_patchTripsStopsStatus",
        "summary": "PATCH /truckload/trips/status",
        "description": "Updates a trips and stops status in the Maven system",
        "parameters": [
          {
            "name": "tripId",
            "required": false,
            "in": "query",
            "example": 123456,
            "description": "Maven unique identifier for trip",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "externalTripId",
            "required": false,
            "in": "query",
            "example": "TMS_123456",
            "description": "Unique external identifier for trip",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TripsStopsStatusUpdateRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful API response for trips and stops status update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripsStopsStatusApiResponse"
                }
              }
            }
          }
        },
        "tags": [
          "truckload"
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/forms/results": {
      "get": {
        "operationId": "FormResultsController_getFormResults",
        "summary": "GET /forms/results",
        "description": "APIs for interacting with form data from the Maven system.",
        "parameters": [
          {
            "name": "startTime",
            "required": true,
            "in": "query",
            "description": "Required. the ISO8601 storage creation timestamp of the first data being polled (inclusive)",
            "example": "2020-05-03T00:00:00Z",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endTime",
            "required": false,
            "in": "query",
            "description": "The ISO8601 storage creation timestamp of the last data being polled (inclusive)",
            "example": "2020-05-09T23:59:59Z",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves form results in the Maven system.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormResultsApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "When form definitions not found for company"
          },
          "500": {
            "description": "Unknown error response from the customers service."
          }
        },
        "tags": [
          "forms"
        ],
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}