{"openapi":"3.0.0","paths":{"/shipment":{"post":{"operationId":"ShipmentController_handleShipment","summary":"POST /shipment","description":"API to send shipment data","parameters":[],"responses":{"200":{"description":"A successful API response for shipment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CredentialsResponseDto"}}}}},"tags":["shipment"],"security":[{"api_key":[]}]}},"/bulkShipments":{"post":{"operationId":"BulkShipmentsController_handleBulkShipments","summary":"POST /bulkShipments","description":"API to send bulk shipment data","parameters":[],"responses":{"200":{"description":"A successful API response for bulk shipments.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CredentialsResponseDto"}}}}},"tags":["bulk-shipments"],"security":[{"api_key":[]}]}},"/manifests":{"post":{"operationId":"ManifestsController_handleManifests","summary":"POST /manifests","description":"API to send manifests data","parameters":[],"responses":{"200":{"description":"A successful API response for manifests.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CredentialsResponseDto"}}}}},"tags":["manifests"],"security":[{"api_key":[]}]}}},"info":{"title":"Roy Miller API","description":"Documentation for Roy Miller API","version":"1.0","contact":{}},"tags":[],"servers":[{"url":"https://integrations.mavenmachines.com"}],"components":{"securitySchemes":{"api_key":{"type":"apiKey","in":"header","name":"apiKey"}},"schemas":{"CredentialsResponseDto":{"type":"object","properties":{}}}}}