openapi: 3.2.0
info:
  title: Maven Machines Manifests API
  version: '1.0'
  description: 'Operations tagged manifests across 4 of this provider''s published API definitions: maven-machines-averitt-middleware-openapi.json, maven-machines-bozzutos-middleware-openapi.json, maven-machines-planning-and-dispatch-openapi.json, maven-machines-rest-service-manual-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://integrations.mavenmachines.com
- url: /
  description: Current host (use when testing this middleware)
- url: https://integrations.mavenmachines.com/companies/{companyKey}/
  variables:
    companyKey:
      default: companyKey
- url: https://integrations.mavenmachines.com/
tags:
- name: Manifests
paths:
  /manifests/commands:
    post:
      operationId: ManifestsCommandsController_handleManifestsCommands
      summary: POST /manifests/commands
      description: API to send manifest and movement commands
      parameters: []
      responses:
        '200':
          description: A successful API response for linehaul manifests commands.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialsResponseDto'
      tags:
      - Manifests
      security:
      - api_key: []
    servers:
    - url: https://integrations.mavenmachines.com
  /manifests/commands/batch:
    post:
      operationId: ManifestsCommandsController_handleManifestsCommandsBatch
      summary: POST /manifests/commands/batch
      description: API to send batch manifest and movement commands
      parameters: []
      responses:
        '200':
          description: A successful API response for linehaul manifests commands in batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialsResponseDto'
      tags:
      - Manifests
      security:
      - api_key: []
    servers:
    - url: https://integrations.mavenmachines.com
  /manifests:
    post:
      operationId: ManifestsController_handleManifests
      summary: POST /manifests
      description: API to send manifests data
      parameters: []
      responses:
        '200':
          description: A successful API response for manifests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialsResponseDto'
      tags:
      - Manifests
      security:
      - api_key: []
    servers:
    - url: https://integrations.mavenmachines.com
  /manifests/manifestNumber:
    post:
      operationId: ManifestsController_handleManifestNumber
      summary: POST /manifests/manifestNumber
      description: Pass-through to Maven POST /manifestNumber — assign a TMS manifest number to a Maven planning manifest.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManifestNumberRequestDto'
      responses:
        '200':
          description: Accepted; forwarded to Maven in the background.
        '400':
          description: routeUniqueId or manifestNumber missing/invalid.
      tags:
      - Manifests
      security:
      - api_key: []
    servers:
    - url: https://integrations.mavenmachines.com
      description: Maven (production)
    - url: /
      description: Current host (use when testing this middleware)
  /manifests/{manifestNumber}:
    patch:
      summary: PATCH /manifests/{manifestNumber}
      description: Updates a delivery manifest. Only provided key-value pairs provided are updated.
      operationId: patch-manifestsmanifestnumber
      parameters:
      - name: manifestNumber
        in: path
        description: Manifest number of the manifest to be updated
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                trailerNumber:
                  type: string
                  description: The trailer number for the manifest.
                vehicleNumber:
                  type: string
                  description: The vehicle number for the manifest
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Manifests
      security:
      - sec0: []
    servers:
    - url: https://integrations.mavenmachines.com/
components:
  schemas:
    CredentialsResponseDto:
      type: object
      properties: {}
    ManifestNumberRequestDto:
      type: object
      properties:
        routeUniqueId:
          type: string
          example: maven-route-instance-id
          description: Maven-generated identifier for this manifest
        manifestNumber:
          type: string
          example: M-12345
          description: Manifest Number to be set for this manifest
      required:
      - routeUniqueId
      - manifestNumber
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: apiKey
    sec0:
      type: apiKey
      in: header
      name: apiKey
x-refined-from:
- maven-machines-averitt-middleware-openapi.json
- maven-machines-bozzutos-middleware-openapi.json
- maven-machines-planning-and-dispatch-openapi.json
- maven-machines-rest-service-manual-openapi.json
