{"openapi":"3.0.0","paths":{"/orders":{"post":{"operationId":"OrdersController_upsertShipmentAndManifest","summary":"POST /orders","description":"\n    API endpoint for creating and updating p&d shipments and manifests in the Maven system.\n    ","parameters":[],"responses":{"200":{"description":"A successful API response for p&d shipments and manifests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CredentialsResponseDto"}}}}},"tags":["orders"],"security":[{"api_key":[]}]}},"/routeplans":{"get":{"operationId":"RouteplansController_getRouteplans","summary":"GET /routeplans","description":"\n    API endpoint for reading route plan data for a given date.\n    ","parameters":[{"name":"sessionDate","required":true,"in":"query","schema":{"type":"date"}}],"responses":{"200":{"description":"A successful API response for the route plans for a given date","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRoutePlansRequestDto"}}}}},"tags":["routeplans"],"security":[{"api_key":[]}]}}},"info":{"title":"Triple SSS Steel API","description":"Documentation for Triple SSS Steel","version":"1.0","contact":{}},"tags":[],"servers":[{"url":"https://integrations.mavenmachines.com"}],"components":{"securitySchemes":{"api_key":{"type":"apiKey","in":"header","name":"apiKey"}},"schemas":{"CredentialsResponseDto":{"type":"object","properties":{}},"GetRoutePlansRequestDto":{"type":"object","properties":{"sessionDate":{"type":"date"}},"required":["sessionDate"]}}}}